*{
    margin: 0;
    padding: 0;
}

:root{
    --branco:white;
    --cinza-medio: #4fc9bf;
    --cinza-escuro: white;
    --
}

body{
    color: var(--branco);
    background-color: var(--cinza-escuro);
    font-family: 'K2D', sans-serif;
}

h1{
    font-size: 6.5rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
    line-height: 1.5;
}

ul{
    font-size: 6.5rem;

}

li{
    display: inline;
    margin-left: 24px;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--branco);
}

.md-48{
    font-size: 48px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cinza-medio);
    padding: 24px;
}

nav{
   
    display: block;
    position: relative;
    z-index: 0;
    width: auto;
    padding: 0;
    text-align: right;
    background-color: 
}

.area_banner{
    margin: 24px;
    border-radius: 15px;
    
}

.area_banner img{
    width: 100%;
    border-radius: 15px;
}

.area_servicos{
    margin: 24px;
}

.card_servico{
    background-color: var(--cinza-medio);
    border-radius: 15px;
    padding: 24px;
    text-align: center;
}

.card_servico img{
    border-radius: 15px;
    margin: 24px 16px 24px 0;
}



@media screen and (min-width: 1024px)
{

    #menu_navegacao{
        display: none;
    }

   

    .card_servico{
        text-align: left;
    }

    .card_servico_conteudo{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.logo {
    width: 9%;
    
}
.logo2{
    width: auto;
    height: 50px;
    margin-inline: 20px;
    
    
    
}

img {
    max-width:100%;
    height:auto;
}

footer{
    width: 100%;
    height: 57px;
    background-color:#4fc9bf ;
    display: flex;
    justify-content: space-evenly;
    
   

   
}

:root{
    --back-color: #FFF;
    --text-color:black;
    --button-color: #0026ff;
}

.dark{
    --back-color: #000;
    --text-color: #FFF;
    --button-color: #8c9cf7;
}

body{
    background-color: var(--back-color);
    color: var(--text-color);
}

button{
    background-color: var(--button-color);
}

.ibage{
width: 500px;
height: 800px;
object-fit: cover;
}

h3{

    font-size: 2rem;
}